body{
  background-color:#dedede;
}
.header{
  position:relative;
  color:#333;
  display:block;
  font-family:comic sans;
}
.header h1{
  color:#fff;
}
.nav_links{
  position:absolute;
  float:right;
  display:block;
}
  
