*{
  margin:0;
  padding:0;
}
body{
  background-color:#dedede;
}
.header, .footer{
  position:relative;
  background-color:#333;
  display:block;
  font-family:comic sans;
}
.header h1{
  color:#fff;
}
.narv_links {
  position:absolute;
  right:2%;
  top:30%;
}
.narv_links li{
  display:inline;
  color:#fff;
}
.narv_links a{
  text-decoration:none;
}
.narv_links a:link{
  color:white;
}
.narv_links a:visited{
  color:#f00;
}
.narv_links a :hover,.narv_links a:actived{
  color:#ffb600;
}
#Part_1,#Part_2,#Part_3,#Part_4{
  margin:25px;
  padding:35px;
  box-shadow:10px 10px 5px #ccc;
  background-color:#fff;
}
.img{
  display:inline-block;
  border:1px solid #eee;
}
.confirm-btn{
  display:block;
  background-color:#3355d0;
  color:white;
  height:40px;
  border-radius:15px;
}
th{
  background-color:#333;
  color:white;
}
table{
  margin-left:10px;
  width:100%
}
  
